.reveal {
  opacity: 0;
  transform: translateY(60px) scale(0.95);
  filter: blur(8px);
  transition: all 0.9s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}